.hero-unit{background-color:#e7dbaa; margin-bottom:80px; margin-top:75px;}
#landing-hero{text-align:center; padding:30px;}
.page-header{background-color:#e7dbaa;}
.row{background-color:#e7dbaa;}
#master{font-size: 100;}
img {width:100%}
body{background-image:url("phillymap.jpg"); background-size: 100%}
.form-horizontal{background-color:#e7dbaa;}
.spinner{height:25px; width:200px;margin-left: 160px;}
.credit{position:fixed; background:#e7dbaa; bottom:0; right:0; padding:10px; font-size:14;}
.bootstrap{position:absolute; color:#FFFFFF;top:0; right:0; padding:10px; font-size:18;}
.navbar{font-size:18;}
#Results{font-size:18; margin-left: 100px;}