{% extends "base.html" %}

{% block body %}
<div class="hero-unit">
         <h1>About the app</h1>
         <br>
         <h2>What?</h2>
         <p>Philly Wheels is a web application for finding wheelchair accessible routes via <a href="http://www.septa.org/">SEPTA</a>, Philadelphia's public transit system. All stops on the resulting route are equipped with ramps and elevators and meet <a href="http://www.ada.gov/">ADA</a> standards for wheelchair accessibility.</p>
         <h2>Why?</h2>
         <p><a href="http://www.linkedin.com/in/ellibalcomb">Elli Balcomb</a> built this app for her final project at <a href="http://www.hackbrightacademy.com/">Hackbright Academy</a>. Elli has a good friend in Philly that uses a wheelchair and gave her the idea! Philadelphia was an ideal city for this project because it is one of the largest cities in the country that does not provide this crucial tool for people with disabilities.</p>
         <h2>How?</h2>
         <p>Built using <b>Python, Flask, Javascript, SQLAlchemy,</b> and <b>Jinja.</b> The app does the following:</p>

         <p>
         <i class="fa fa-bolt fa-sm"></i> Provides place predictions for start and end addresses via the <a href="https://developers.google.com/places/documentation/autocomplete">Google Places Autocomplete API</a><br>

         <i class="fa fa-bolt fa-sm"></i>Translates addresses into latitude and longitude coordinates via the <a href="https://developers.google.com/maps/documentation/geocoding/">Google Geocoding API</a><br>

         <i class="fa fa-bolt fa-sm"></i>Determines the closest accessible public transit stops via the <a href="http://www3.septa.org/hackathon/">SEPTA API</a><br>

         <i class="fa fa-bolt fa-sm"></i>Calculates the shortest route via an implementation of <a href="http://en.wikipedia.org/wiki/Dijkstra's_algorithm">Dijkstra's Graph Search Algorithm</a><br>

		</p>
</div><!-- .hero-unit -->
{% endblock %}