{% extends "base.html" %}

{% block body %}
<div class="hero-unit">
	<h1>Feedback</h1><br>

	<form class="feedback" action="{{url_for("process_feedback")}}" method="POST">
		<label>Name</label>
		<input type="text" class="span4" name="name">
		<label>Company/Organization</label>
		<input type="text" class="span4" name="company">
		<label>Email Address</label>
		<input type="text" class="span4" name="email">
		</label>
		<label>Message</label>
		<textarea name="message" id="message" class="input-xlarge span6" rows="10" name="message"></textarea>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
	
</div><!-- .hero-unit -->

{% endblock %}