{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}


<div class="container">
         
         <div class="hero-unit" id="landing-hero">
         <h1 id="master"> Philly <i class="fa fa-wheelchair fa-md"></i>Wheels</h1>
         <br>
         <p>Wheelchair accessible routes via SEPTA, Philadelphia's public transit system.</p>
         <br><br>
         <p><a class="btn btn-primary btn-large" href="{{url_for("route")}}">Find my route! &raquo;</a></p>
         </div><!-- .hero-unit -->



        
 <div class="row" id="landing-row">

         <div class="span6">
         <h1>About the App</h1><br>
         <p>Philly Wheels implements Dijkstra's Graph Search Alogorithm to determine the most efficient route between two stops.</p><p>Built as a final project for Hackbright Academy.</p>
         <p><a class="btn" href="{{url_for("about")}}">Learn more! &raquo;</a></p>
         </div><!-- .span4 -->
   
         <div class="span6">
         <h1>Contact</h1><br>
         <p>This application is a work in progress! Please play around on the site and send me your feedback.</p><p>Feel free to check out the code on GitHub!
         <p><a class="btn" href="{{url_for("about")}}">Contact &raquo;</a></p>
         </div><!-- .span4 -->

   
   
 </div><!-- .row -->
 </div><!-- .container -->

     
 {% endblock %}