{% extends "base.html" %}

{% block body %}

<div class="hero-unit" id="routing-hero">
  <div class="form-horizontal">
    <h1>Find my route!</h1><br>
    <br>

    <div class="control-group">
        <label class="control-label" for="start">I'm starting
        at:</label>

        <div class="controls">
            <input id="start-address" name="start" type="text">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="end" id="start">I'm going to:</label>

        <div class="controls">
            <input id="end-address" name="end" type="text">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" id="routeButton" value=
            "Find accessible">Find Accessible Route</button>
        </div>
    </div><br>

    <img class="spinner" id="spinner" name="spinner" src=
    "static/css/30.GIF" style="display:none">
    <div id="Results">
    </div>


</div><!--hero-unit-->

<script>

  $(document).ready(function() {
    startInput = $("input#start-address")[0]
    endInput = $("input#end-address")[0]

    var autocompleteStart = new google.maps.places.Autocomplete(startInput);
    var autocompleteEnd = new google.maps.places.Autocomplete(endInput);
    var geocoder = new google.maps.Geocoder();


    $("#routeButton").click(function() {
      var locs = {};
      $("#Results").empty();
      $("#spinner").show();
      geocoder.geocode( { 'address': startInput.value }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          locs["startlat"] = results[0].geometry.location.lat();
          locs["startlng"] = results[0].geometry.location.lng();
          saveCoords(locs)
        } else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
      geocoder.geocode( { 'address': endInput.value }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          locs["endlat"] = results[0].geometry.location.lat();
          locs["endlng"] = results[0].geometry.location.lng();
          saveCoords(locs)
        } 
        else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
    });
  })

  function saveCoords (locs) {
    if (locs["startlat"] && locs["endlat"]) {
      $.post("/process_route", locs, function(dataFromServer) {
        var listFromServer = dataFromServer.split(",")
        $("#spinner").hide()
        for (var i = 0; i < listFromServer.length; i++) {
          $("#Results").append(listFromServer[i] + "<br>");
        };
      })
    }
  }
</script>

{% endblock %}
