{% extends "base.html" %}

{% block body %}

<div class="hero-unit" id="routing-hero">
   <div class="form-horizontal">
    <!--action="{{url_for("process_route") }}" method="POST"-->
          <h1>Plan my route!</h1>
      <br><br>
  	<div class="control-group">
    <label class="control-label" for="start">I'm starting at:</label>
    <div class="controls">
      <input type="text" id="start-address" name="start">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="end">I'm going to:</label>
    <div class="controls">
      <input type="text" id="end-address" name="end">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" value = "Find accessible" id="routeButton"><i class="icon-search icon-white" ></i> Find Accessible Route</button>
    </div>
  </div>
  <br>
        <img src="static/css/30.GIF" style="display:none" class= "spinner" id="spinner">
  <div id="Results">
  </div>
</div>
</div>
<!-- </div> -->
<script>

  $(document).ready(function() {
    startInput = $("input#start-address")[0]
    endInput = $("input#end-address")[0]

    var autocompleteStart = new google.maps.places.Autocomplete(startInput);
    var autocompleteEnd = new google.maps.places.Autocomplete(endInput);
    var geocoder = new google.maps.Geocoder();


    $("#routeButton").click(function() {
      var locs = {};
      $("#Results").empty();
      $("#spinner").show();
      geocoder.geocode( { 'address': startInput.value }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          locs["startlat"] = results[0].geometry.location.lat();
          locs["startlng"] = results[0].geometry.location.lng();
          saveCoords(locs)
        } else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
      geocoder.geocode( { 'address': endInput.value }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          locs["endlat"] = results[0].geometry.location.lat();
          locs["endlng"] = results[0].geometry.location.lng();
          saveCoords(locs)
        } 
        else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
    });
  })

  function saveCoords (locs) {
    if (locs["startlat"] && locs["endlat"]) {
      $.post("/process_route", locs, function(dataFromServer) {
        $("#spinner").hide()
        $("#Results").append(dataFromServer);
      })
    }
  }
</script>
{% endblock %}
